@use 'bootstrap/scss/bootstrap' as *;
@use "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@use 'app/styles/variables';
@use 'app/styles/mixins';

body {
  background: var(--bg-color);
  color: var(--text-color);
}

body.light-theme {
  background: #fff;
  color: #222;
}

.h-85vh {
  height: 85vh;
}

.highlight {
  background-color: var(--text-highlight);
  font-weight: bold;
}